@model IEnumerable<CaritasWYN.Models.Referrer>

@{
    ViewBag.Title = "Referrer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><b>List of Referrers</b></h4>

<table class="table table-striped custab">
    <thead>
        <a asp-action="Create" class="btn btn-primary btn-sm pull-right"><b>+</b> Add New</a>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Office)</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Type)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td>@Html.DisplayFor(modelItem => item.Office)</td>
            <td class="text-center">
                <a class="btn btn-info btn-xs" asp-action="Edit" asp-route-id="@item.ReferrerId"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                <a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.ReferrerId"><span class="glyphicon glyphicon-remove"></span> Del</a>
            </td>
        </tr>
    }
</table>

